<header>
    <a class="logo" href="/">
        <h1>HANA</h1>
    </a>
    <button class="switch oculto" id="switch">
        <span><i class="fas fa-sun"></i></span>
        <span><i class="fas fa-moon"></i></span>
    </button>
</header>