<nav class="nav">
    <a class="nav__boton" href="#">
        <img src="assets/icons/web/buscar.svg" alt="img">
    </a>
    <a class="nav__boton" href="#">
        <img src="assets/icons/web/calendario.svg" alt="img">
    </a>
    <a class="nav__boton" href="#">
        <img src="assets/icons/web/perfil.svg" alt="img">
    </a>
</nav>